body {
  font-family: 'Jura', sans-serif;
  font-size: 1.7rem;
  /*background-image: url("https://i.gifer.com/CSj.gif");
  background-size: cover;*/
  color: #FFFFFF;
}

.content {
  width: 75%;
  margin: -10rem auto;
  padding: 10rem 0 5rem;
  top: 0;
  bottom: 0;
}

.main-title {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  padding-top: 1rem;
  background-color: rgba(235, 59, 59, 0.7);
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.nav-link {
  text-align: center;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
}

.mail-form {
  text-align: center;
}

.mail-form input {
  width: 50%;
  padding: 1.2rem 2rem 1.2rem;
  border-radius: 2rem;
  text-align: center;
  background-image: url("https://i.gifer.com/EAoe.gif");
  background-size: cover;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Jura', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.mail-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.7rem;
}

.section {
  margin-top: 8rem;
  padding: 4rem 0 4rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4rem;
}

.section img {
  margin-left: 3rem;
  width: 80%;
}

.section-reviews {
  margin: 2rem 0 2rem;
  padding-top: 3rem;
}

.one-half,
.column-1-3 {
  float: left;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem;
}

.one-half {
  width: 45%;
  margin: 1rem 1rem 1rem;
}

.column-1-3 {
  margin: 2rem 1.2rem;
  width: 30%;
}

.column-1-3 img {
  width: 80%;
  margin-left: 2rem;
}

.review {
  background-color: rgba(0, 0, 0, 0.6 );
  border: 3px solid red;
  border-radius: 2rem;
}

.section:after {
  content: '';
  display: block;
  clear: both;
}

.section-reviews:after {
  content: '';
  display: block;
  clear: both;
}

.buy-section {
  padding: 3rem 5rem 1rem;
  text-align: center;
}

.buy-text {
  font-size: 2rem;
  font-weight: bold;
}

.button {
  width: 65%;
  margin: 2rem auto 2rem;
  padding: 1rem 2rem 1rem;
  border-radius: 2rem;
}

.buy-button {
  background-image: url("https://i.gifer.com/EAoe.gif");
  background-size: cover;
  color: #FFFFFF;
}

.button a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}



@media (max-width: 800px) {
  body h1 {
    font-size: 1.7rem;
  }

  .content {
    width: auto;
    font-size: 1.3rem;
  }

  .one-half,
  .column-1-3 {
    float: none;
    width: auto;
  }

  .header {
    position: relative;
  }

  .button a{
    font-size: 1.5rem;
  }

  .mail-form input::placeholder {
  font-size: 1.4rem;
}
}
